<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        body{
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .homeContainer{
            background-color: #fff;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 450px;
        }
        .homeContainer h1{
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
            color:rgb(66, 66, 66)
        }
        .homeContainer h2{
            margin-top: 0;
            margin-bottom: 20px;
            text-align: left;
            color:rgb(90, 90, 90)
        }
        .homeContainer button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            margin-block:5px
        }
        .homeContainer  button:hover {
            background-color: #0056b3;
        }
</style>
<body>
    <div class='homeContainer'>
    <h1>Olá, {{name}}</h2>
    <h2>Ingressos<h2>
    <button>Comprados</button>
    <button>Comprar</button>
    </div>
</body>
</body>
</html>